body{
    background-color: rgb(138, 138, 27);
}
.all{
    width: 100%;
    height: 100vh;
    position: relative;
}
.one{
    background-color: red;
    width: 35%;
    height: 30vh;
    position: absolute;
    text-align: center;


}
.two{
    background-color: blue;
    width: 35%;
    height: 30vh;
    margin-left: 65%;
    position: absolute;
    text-align: center;
}
.three{
    background-color: purple;
    width: 30%;
    height: 31vh;
    margin-left: 35%;
    position: absolute;
    text-align: center;
    margin-top: 15%;

}
.four{
    background-color: pink;
    width: 35%;
    height: 30vh;
    position: absolute;
    margin-top: 30%;
    text-align: center;
}
.five{
    background-color: green;
    width: 35%;
    height: 30vh;
    position: absolute;
    margin-left: 65%;
    margin-top: 30%;
    text-align: center;
}
.one:hover{
    background-color: blue;
}
.two:hover{
    background-color: red;
}
.three:hover{
    background-color: gold;
}
.four:hover{
    background-color: orange;
}
.five:hover{
    background-color: yellowgreen;
}
